* {
  box-sizing: border-box;
}


body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
  -webkit-app-region: drag;
  border-radius: 20px;
  margin: 0;
  background: transparent;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 13.375rem;
  padding: 1rem 1.0625rem;


  background-image: url("assets/outer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  border-radius: 20px;
  border: #f193b9 solid 3px;
}

button,
input,
textarea,
select {
  -webkit-app-region: no-drag;
  cursor: pointer;
}

.title {

  display: flex;
  width: 157px;
  aspect-ratio: 157/27;
  padding: 0.25rem 0.625rem;
  justify-content: center;
  align-items: center;

  border-radius: 6.25rem;
  border: 1px solid #d4687e;
  background: rgba(190, 60, 90, 0.35);

  color: #ffffff;

  /* text styling */
  font-family: Pixeboy;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

#calendar {
  display: flex;
  width: 11.25rem;
  height: 10.0625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  background-image: url("assets/pink.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  box-shadow: #520826;
  border: #ec8bb2 solid 3px;
}

#day {
  color: #ffffff;
  text-align: center;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #c2185b;
  font-family: 'Orbitron', sans-serif;
  font-size: 5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.25rem;
  letter-spacing: 0.2rem;
  text-shadow: 0 0 10px #ff4081, 0 0 20px #ff80ab, 0 0 40px #f48fb1;

  display: flex;
  width: 11.25rem;
  height: 4.4375rem;
  flex-direction: column;
  justify-content: center;

}

#month {

  color: #ffffff;
  text-align: center;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #c2185b;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-shadow: 0 0 8px #ff4081, 0 0 16px #ff80ab;

  width: 8.125rem;

}